@charset "utf-8";

#newevent{height: 480px;overflow-x: hidden;overflow-y: auto;}
#newevent #current{text-align: center;margin: 10px 0;}
#newevent #current #currtitle{font-size: 32px;}
#newevent .eventli{
	padding: 0 10px;
	line-height:30px;
	height: 30px;
	border-bottom: 0.5px solid #CCC;
}
span.timetable{float: right;}